# Information for the cloudflare section is available on
# your Cloudflare dashboard, in the API section
[cloudflare]
zone_id = 
email = your@cloudflareaccount-email.com
global_token = 

# For convenience, you can use the 
# dns-query.py
# script to fill this section.
# ttl 1 means "automatic"
[record]
record_id = 
record_name = 
proxied = true
ttl = 1

