# Information for the cloudflare section is available on
# your Cloudflare dashboard, in the API section
[cloudflare]
zone_id = ZONE_ID
email = your@email.com
global_token = GLOBAL_API_TOKEN

# For convenience, you can use the dns-query.py
# script to fill this section.
[record]
record_id = RECORD_ID
record_name = RECORD_NAME
# proxied tells Cloudflare to hide your IP (true) or not (false)
proxied = true         
# TTL value of 1 = automatic
ttl = 1                       

